<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vertecs.expensemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/money"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity

            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Tab2"
            android:label="@string/title_activity_tab2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddData"
            android:label="@string/title_activity_add_data"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddDataNeg"
            android:label="@string/title_activity_add_data_neg"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.ABCD"
            android:label="@string/title_activity_abcd" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"

            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"

            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ViewSummary"
            android:label="@string/title_activity_view_summary"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FragmentBaseActivity"
            android:label="@string/title_activity_fragment_base"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AddDebt"
            android:label="@string/title_activity_add_debt"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.vertecs.tabsswipe.ViewDebt"
            android:label="@string/title_activity_view_debt"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.vertecs.ViewDebt"
            android:label="@string/title_activity_view_debt"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.vertecs.exsd.ViewDebt"
            android:label="@string/title_activity_view_debt"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ViewDebt"
            android:label="@string/title_activity_view_debt"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
