<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vertecs.expensemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.vertecs.expensemanager.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.Tab2"
            android:label="@string/title_activity_tab2" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.AddData"
            android:label="@string/title_activity_add_data" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.AddDataNeg"
            android:label="@string/title_activity_add_data_neg" >
        </activity>
        <activity

            android:name="info.vertecs.expensemanager.Splash"
            android:noHistory="true"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.ABCD"
            android:label="@string/title_activity_abcd" >
        </activity>
        <activity

            android:name="info.vertecs.expensemanager.LoginActivity"
            android:noHistory="true"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.RegisterActivity"
            android:noHistory="true"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.ViewSummary"
            android:label="@string/title_activity_view_summary" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="info.vertecs.expensemanager.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="info.vertecs.expensemanager.FragmentBaseActivity"
            android:label="@string/title_activity_fragment_base" >
        </activity>
    </application>

</manifest>
